body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
  }
.container{
    text-align: center;
}

.clr{
    clear: both;
}
.box1{

    padding: 0%;
    
}  

.box1 img {
    opacity: 0.5;
  }
.centertext{
 position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:aliceblue;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}
.box2{
    background-color: aliceblue;
    color: black;
    padding: 3%;
}  
.box4{
    background-color: aliceblue;
    color: black;
    padding: 3%;
}    
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid black;
    flex-basis: content;
}
.flexdiv{
    background-color: burlywood;
    padding: 10px;
}
.one{
    background-color: rgb(24, 114, 170);
}
.two{
    background-color: rgb(83, 80, 80);
}
footer{
    padding: 3%;
    margin: auto;
    background-color: black;
}